{% extends "layout.html" %}

{% block body %}


<div align="center"">
    <table align="center">
        <tr>
            <td align="center" style="background-color: #333faa;">
                <p style="color: white;">Hatayla Karşılaşıldı!</p>
            </td>
        </tr>
        <tr>
            <td align="center" style="background-color: white;">
                <p style="color: black;">Geçerli bir ortalama ve kredi giriniz.</p>
                <p style="color: black;">Kredi ve ortalama girerken , yerine . kullandığınızdan emin olunuz.</p>
                <p style="color: black;">Kredi minimum 0 değerini alabilir.</p>
                <p style="color: black;">Ortalama için 0-4 aralığında değer girdiğinizden emin olunuz.</p>
            </td>
        </tr>
    
        <tr>
            <td align="center" style="background-color: #333faa;">
                <form align="center" action="/" method="GET">
                    <button type="submit">Geri Dön</button>
                </form>
            </td>
            
        </tr>
            
    </table>
</div>

{% endblock %}